/*
#1 = c84152
#2 = f88594
*/
a {
	color: #c84152;
}
a:hover {
	color: #f88594;
}

/* menu */
.nav>li>a:hover {
	color: #f88594;
}

.navbar .navbar-nav > .active > a {
	color: #f88594;
}

/* flexslider */


/* --- icon box hover --- */
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #c84152;
	box-shadow: 0 0 0 8px  #f88594;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #c84152;
}

/* btn */
.btn-theme {
  background: #f88594;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #c84152;
}




a.scrollup{
	background:#c84152;
}