<!DOCTYPE html>
<html lang="en">
<head class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache no-svg no-inlinesvg no-smil no-svgclippaths skrollr skrollr-desktop"
      style="overflow: hidden;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自闭症</title>
    <link rel="stylesheet" href="/static/css/autism/isotope.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/style.css" type="text/css">
    <!-- skin -->
    <link rel="stylesheet" href="/static/css/autism/default.css" type="text/css">
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body>
<!--style="height: 4328px"-->

<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top skrollable skrollable-between" role="navigation"
     data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
     data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);"
     style="line-height: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.298039);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand skrollable skrollable-between"
                   href="/autism" data-0="line-height:90px;"
                   data-300="line-height:50px;" style="line-height: 90px;"> 自闭症
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav skrollable skrollable-between" data-0="margin-top:20px;"
                data-300="margin-top:5px;" style="margin-top: 20px;">

                <li><a href="#testimonials">症状</a>
                </li>
                <li><a href="#parallax1">预防与治疗</a>
                </li>
                <li><a href="/">首页</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <i class="fa fa-stethoscope fa-5x mar-bot20"></i>
                    <h2 class="slogan" style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">自闭症现状</h2>
                    <p>
                        自闭症又称儿童孤独症，是一种起病于儿童早期的严重发育障碍，最常见的广泛性发育障碍之一。90%的自闭症儿童属于低功能，80%的自闭症患者需要终身监管。而近年来，自闭症的患病率也呈现越来越高的事态，需要引起社会各界的广泛重视。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-child fa-5x mar-bot20"></i>
                    <h4 class="text-bold">遗传因素</h4>
                    <p>
                        表现为胎儿受孕期间由于外界多种生物学因素所造成以及孕前孕期父母承受压力等因素造成。
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-flash fa-5x mar-bot20"></i>
                    <h4 class="text-bold">外界环境因素</h4>
                    <p>
                        空气中的有毒化学物质。
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="align-center">
                    <i class="fa fa-envira fa-5x mar-bot20"></i>
                    <h4 class="text-bold">社会环境因素</h4>
                    <p>
                        后天性自闭症主要是受父母教养态度影响、情感上的淡漠等方面因素影响。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="section" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h3 style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">
                            自闭症患者判断
                        </h3>
                        <p style="color: white; text-shadow: 2px 2px 2px #8a8a8a;"> <!-- text-shadow: black 0 1px 0 -->
                            自闭症分为先天型自闭症和后天性自闭症，前者多发于3岁前，后者多因家庭环境或生活中出现重大变故造成，年龄无具体规律可循。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-about" class="section appear clearfix">
    <div class="container">
        <!--<div class="row mar-bot40">-->
        <!--<div class="col-md-offset-3 col-md-6">-->
        <!--<div class="section-header">-->
        <!--<h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>-->
        <!--<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed-->
        <!--quia non numquam.</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row align-center mar-bot40">
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/autism/autism_influence_1.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>社交障碍</h4>
                        <span>①无法进行带有自发想象力的行为。</span>
                        <span>②缺乏情感交流，表现为无法依据社交场合进行调整其行为或社交情绪。</span>
                        <span>③无法通过表情、手势等了解交流意图。</span>
                        <!--<p>①无法进行带有自发想象力的行为。</p>-->
                        <!--<p>②缺乏情感交流，表现为无法依据社交场合进行调整其行为或社交情绪。</p>-->
                        <!--<p>③无法通过表情、手势等了解交流意图。</p>-->
                        <!--<ul>-->
                        <!--<li>①无法进行带有自发想象力的行为。</li>-->
                        <!--<li>②缺乏情感交流，表现为无法依据社交场合进行调整其行为或社交情绪。</li>-->
                        <!--<li>③无法通过表情、手势等了解交流意图。</li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/autism/autism_influence_2.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>行为异常</h4>
                        <span>①对某种习惯的固执。</span>
                        <span>②身体固定的运动行为。</span>
                        <span>③生活中熟悉环境的固定化。</span>
                        <span>④固执的摆弄或玩耍物件。</span>
                        <!--<ul>-->
                        <!--<li>①对某种习惯的固执。</li>-->
                        <!--<li>②身体固定的运动行为。</li>-->
                        <!--<li>③生活中熟悉环境的固定化。</li>-->
                        <!--<li>④固执的摆弄或玩耍物件。</li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/autism/autism_influence_3.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>语言障碍</h4>
                        <span>①具有正常的语言功能却少有主动说话。</span>
                        <span>②模仿、重复言语。</span>
                        <span>③频繁发出异常声音。</span>
                        <span>④时常无故喊。</span>
                        <!--<ul>-->
                        <!--<li>①具有正常的语言功能却少有主动说话。</li>-->
                        <!--<li>②模仿、重复言语。</li>-->
                        <!--<li>③频繁发出异常声音</li>-->
                        <!--<li>④时常无故喊</li>-->
                        <!--</ul>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/autism/autism_influence_4.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>社会影响</h4>
                        <span>①语言障碍导致无法融入社会生活，从而受到外界异样眼光不利于内心的健康发展。</span>
                        <span>②由于患者无法自发进行想象力行为，无法衡量带来快乐的行为的正确与否，会产生对社会环境及家庭坏境安全造成威胁的破坏性行为。</span>
                        <span>③表现为社会退缩，不愿与人交往。</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white" style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">自闭症预防与治疗</blockquote>
        </div>
    </div>
</section>


<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="/autism#"
                           class="current btn-theme btn-small" data-filter="*">社会性治疗</a></li>
                    <li><a href="/autism#"
                           class="btn-theme btn-small" data-filter=".music">音乐教育治疗</a></li>
                    <li><a href="/autism#"
                           class="btn-theme btn-small" data-filter=".game">游戏干预治疗</a></li>
                    <li><a href="/autism#"
                           class="btn-theme btn-small" data-filter=".comprehensive">综合性干预治疗</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix isotope" id="3"
                         style="position: relative; overflow: hidden; height: 915px;">

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_1.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">社会性治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_1.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem game isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_2.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">游戏干预治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_2.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_3.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">社会性治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_3.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>      
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_4.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">社会性治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_4.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_5.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">自闭症预防与治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_5.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem music isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_6.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">音乐教育治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_6.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_7.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">社会性治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_7.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_8.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">社会性治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_8.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem comprehensive isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/autism/autism_treatment_9.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">综合性干预治疗</a></h5>
                                        <a href="/static/image/autism/autism_treatment_9.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<a href="/autism#header" class="scrollup" style="display: none;"><i
        class="fa fa-chevron-up"></i></a>

<script src="/static/js/autism/jquery.js"></script>
<script src="/static/js/autism/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/static/js/autism/jquery.easing.1.3.js"></script>
<script src="/static/js/autism/bootstrap.min.js"></script>
<script src="/static/js/autism/jquery.isotope.min.js"></script>
<script src="/static/js/autism/jquery.nicescroll.min.js"></script>
<script src="/static/js/autism/jquery.fancybox.pack.js"></script>
<script src="/static/js/autism/skrollr.min.js"></script>
<script src="/static/js/autism/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/static/js/autism/jquery.localscroll-1.2.7-min.js"></script>
<script src="/static/js/autism/stellar.js"></script>
<script src="/static/js/autism/jquery.appear.js"></script>
<script src="/static/js/autism/validate.js"></script>
<script src="/static/js/autism/main.js"></script>

</body>
</html>