<!DOCTYPE html>
<html lang="en">
<head class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache no-svg no-inlinesvg no-smil no-svgclippaths skrollr skrollr-desktop"
      style="overflow: hidden;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>concern</title>
    <link rel="shortcut icon" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/autism/isotope.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/jquery.fancybox.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/concern/style.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <!-- skin -->
    <link rel="stylesheet" href="/static/css/autism/default.min.css" type="text/css">
    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }

        section.featured {
            background: #ffec8b;
        }

        .copyright {
            text-align: center;
        }

        .copyright h4 {
            height: 15px;
            line-height: 15px;
            font-size: 14px;
            color: #757575;
        }

        .copyright h5 {
            height: 15px;
            line-height: 15px;
            font-size: 13px;
            color: #757575;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?64da4af3b615ec220084b3790bb70497";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--style="height: 4328px"-->

<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top skrollable skrollable-between" role="navigation"
     data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
     data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);"
     style="line-height: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.298039);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand skrollable skrollable-between"
                   href="/concern" data-0="line-height:90px;"
                   data-300="line-height:50px;" style="line-height: 90px;">关 爱
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav skrollable skrollable-between" data-0="margin-top:20px;"
                data-300="margin-top:5px;" style="margin-top: 20px;">
                <li class=""><a
                        href="/concern#survey">调查</a></li>
                <li class=""><a
                        href="/index">首页</a></li>

            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<section id="survey" class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <h3 style="color: dimgray">调查问卷</h3>
                    <p style="color: dimgray">
                        我们针对陕西西安和辽宁沈阳两北方地区部分高等院校进行心理健康知识和心理状况调研。总体发现，近半数青年学生对心理健康知识掌握不足，部分存在内心激进、孤僻、逆反等诸多亚健康心理问题。由此可见全民普及心理健康知识，尤其针对青年、青少年范围大规模普及宣讲具有重要的意义。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonials" class="section" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h3 style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">
                            生命有限，青春的年华更为短暂。
                        </h3>
                        <p style="color: white; text-shadow: 2px 2px 2px #8a8a8a;"> <!-- text-shadow: black 0 1px 0 -->
                            对于每个人来说，维持健康愉快的生活所需要的两个条件就是的拥有强壮健康的躯体和健康的、有价值的精神心理。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-about" class="section appear clearfix" style="background-image: url(/static/image/concern/b2-min.jpg);
    background-size:cover;height:500px">
</section>


<!--<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5"-->
<!--style="background-position: 0% 0%;background-size:cover;">-->
<!--<div class="container">-->
<!--<div class="align-center pad-top40 pad-bot40">-->
<!--<blockquote class="bigquote color-white"></blockquote>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->


<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="/concern#"
                           class="current btn-theme btn-small" data-filter="*">爱心活动</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix isotope" id="3"
                         style="position: relative; overflow: hidden; height: 915px;">

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/1-min.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/1-min.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem game isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/2.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/2.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/3.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/3.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/4.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/4.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/5-min.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/5-min.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem music isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/6.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/6.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/7.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/7.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/8.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/8.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem comprehensive isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/concern/9.jpg"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <a href="/static/image/concern/9.jpg"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<div class="copyright">
    <h4>Copyright ©, &nbsp;Xi'an Jiaotong University Tree Design Studio. </h4> <h5>西安交通大学树果设计工作室</h5>
</div>


<a href="/autism#header" class="scrollup" style="display: none;">
    <i class="fa fa-chevron-up"></i></a>

<script src="/static/js/autism/jquery.min.js"></script>
<script src="/static/js/autism/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/static/js/autism/jquery.easing.1.3.min.js"></script>
<script src="/static/js/autism/bootstrap.min.js"></script>
<script src="/static/js/autism/jquery.isotope.min.js"></script>
<script src="/static/js/autism/jquery.nicescroll.min.js"></script>
<script src="/static/js/autism/jquery.fancybox.pack.min.js"></script>
<script src="/static/js/autism/skrollr.min.js"></script>
<script src="/static/js/autism/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/static/js/autism/jquery.localscroll-1.2.7-min.js"></script>
<script src="/static/js/autism/stellar.min.js"></script>
<script src="/static/js/autism/jquery.appear.min.js"></script>
<script src="/static/js/autism/main.min.js"></script>

</body>
</html>