<!DOCTYPE html>
<html lang="en">
<head class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache no-svg no-inlinesvg no-smil no-svgclippaths skrollr skrollr-desktop"
      style="overflow: hidden;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>抑郁症</title>
    <link rel="stylesheet" href="/static/css/autism/isotope.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="/static/css/depression/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <!-- skin -->
    <link rel="stylesheet" href="/static/css/depression/default.css" type="text/css">
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }
    section.featured{
        background: #f88594;
    }
    </style>

</head>
<body>
<!--style="height: 4328px"-->

<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top skrollable skrollable-between" role="navigation"
     data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
     data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);"
     style="line-height: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.298039);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand skrollable skrollable-between"
                   href="/depression" data-0="line-height:90px;"
                   data-300="line-height:50px;" style="line-height: 90px;">抑郁症
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav skrollable skrollable-between" data-0="margin-top:20px;"
                data-300="margin-top:5px;" style="margin-top: 20px;">
                <li><a href="/depression#testimonials">造成因素</a>
                </li>
                <li><a href="/depression#parallax1">预防与治疗</a>
                </li>
                <li class=""><a
                        href="/">首页</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <i class="fa fa-stethoscope fa-5x mar-bot20"></i>
                    <h2 class="slogan" style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">抑郁症现状</h2>
                    <p>
                        抑郁症是一种全球性情感障碍性疾病, 患者主要表现为情绪低落, 郁郁寡欢，悲观厌世，同时伴有失眠、神经衰弱、食欲不振、贫血等综合症。抑郁症患者发病群体主要集中在大学生、孕妇以及部分大众人群。例如：富兰克林·罗斯福、梵高、海明威、三毛、玛丽莲梦露、张国荣等社会各界知名与普通人士。
                    </p>
                    <p>
                        通常人们会混淆忧郁症与抑郁症，忧郁症是由于用脑过度，精神紧张，体力劳累所引起的一种机体功能失调所引起的疾病。主要表现为失眠症、焦虑症、疑病症、恐惧症、强迫症、神经衰弱、神经性呕吐等。而抑郁症则是由多种原因引起，同时长期的忧郁症会也会导致抑郁症。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-services"></section>
<div class="container">
        <div class="row mar-bot40 mar-top40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <h2 class="slogan">成因</h2>
                    <p>
                        抑郁症的导致原因并非单一的，而与以下多种因素共同影响：
(1) 遗传因素 (2) 性别因素 (3) 压力因素 (4) 职业因素（5）性格因素
（6）人际关系因素（7）兴趣爱好（8）季节因素（9）经济状况（10）文化程度
                    </p>
                </div>
            </div>
        </div>
    </div>


<section id="testimonials" class="section" data-stellar-background-ratio="0.5" style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h1 class="slogan" style="color: white;">大学生抑郁症</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-about" class="section appear clearfix">
    <div class="container">
        <!--<div class="row mar-bot40">-->
        <!--<div class="col-md-offset-3 col-md-6">-->
        <!--<div class="section-header">-->
        <!--<h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>-->
        <!--<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed-->
        <!--quia non numquam.</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row align-center mar-bot40">
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/depression/depression_cause_1.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>生理因素</h4>
                        <span>通常表现为遗传因素，例如父母都是抑郁症，子女患抑郁症的可能性高达50%~70%。
生活作息紊乱也会胜利因素的重要部分，大学生学习、游戏过度等导致失眠，节食导致免疫力低下，诸多因素都加重了忧郁程度。
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/depression/depression_cause_3.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>心理因素</h4>
                        <span>大学生在进入大学后发现周围的人多方面比自己优秀的时候，从物质和精神层面的差距会使学生心理上产生落差，从而产生抑郁情绪。另外内向型大学生患抑郁症的可能性较大，在处理事务不当时，会产生自卑感、挫败感等这样的心理，在心理感受程度加重时，就是有可能患上抑郁症。
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/depression/depression_cause_2.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>生活环境因素</h4>
                        <span>部分大学生在进入大学生活时对环境产生了不适应，没有足够的自立能力导产生茫然的状态，加上思念父母，长期易患抑郁症。同时在生活过程中，人际关系处理不佳也会导致关系矛盾不断加深，长期憋在心里得不到妥善地解决，易产生抑郁症。
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/depression/depression_cause_4.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>环境压力因素</h4>
                        <span>部分大学生在进入大学生活时对环境产生了不适应，没有足够的自立能力导产生茫然的状态，加上思念父母，长期易患抑郁症。同时在生活过程中，人际关系处理不佳也会导致关系矛盾不断加深，长期憋在心里得不到妥善地解决，易产生抑郁症。
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h1 class="slogan" style="color: white;">预防与治疗</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="/autism#"
                           class="current btn-theme btn-small" data-filter="*">预防与治疗</a></li>
                    <li><a href="/autism#"
                           class="btn-theme btn-small" data-filter=".prevent">预防</a></li>
                    <li><a href="/autism#"
                           class="btn-theme btn-small" data-filter=".cure">治疗</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix isotope" id="3"
                         style="position: relative; overflow: hidden; height: 915px;">

                        <article class="col-md-4 isotopeItem prevent isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_1-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防</a></h5>
                                        <a href="/static/image/depression/depression_treatment_1-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem prevent isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_2-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防</a></h5>
                                        <a href="/static/image/depression/depression_treatment_2-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem prevent isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_3-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防</a></h5>
                                        <a href="/static/image/depression/depression_treatment_3-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_4-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_4-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_5-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_5-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_6-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_6-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_7-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_7-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_8-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_8-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/depression/depression_treatment_9-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/depression/depression_treatment_9-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white"></blockquote>
        <!--<p class="color-white">Bootstraptaste</p>-->
    </div>
</section>


<a href="/autism#header" class="scrollup" style="display: none;"><i
        class="fa fa-chevron-up"></i></a>

<script src="/static/js/autism/jquery.js"></script>
<script src="/static/js/autism/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/static/js/autism/jquery.easing.1.3.js"></script>
<script src="/static/js/autism/bootstrap.min.js"></script>
<script src="/static/js/autism/jquery.isotope.min.js"></script>
<script src="/static/js/autism/jquery.nicescroll.min.js"></script>
<script src="/static/js/autism/jquery.fancybox.pack.js"></script>
<script src="/static/js/autism/skrollr.min.js"></script>
<script src="/static/js/autism/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/static/js/autism/jquery.localscroll-1.2.7-min.js"></script>
<script src="/static/js/autism/stellar.js"></script>
<script src="/static/js/autism/jquery.appear.js"></script>
<!--<script src="/static/js/autism/validate.js"></script>-->
<script src="/static/js/autism/main.js"></script>

</body>
</html>