<!DOCTYPE html>
<html lang="en">
<head class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache no-svg no-inlinesvg no-smil no-svgclippaths skrollr skrollr-desktop"
      style="overflow: hidden;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精神分裂症</title>
    <link rel="stylesheet" href="/static/css/autism/isotope.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/jquery.fancybox.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/autism/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/bootstrap-theme.css" type="text/css">
    <link rel="stylesheet" href="/static/css/schizophrenia/style.css" type="text/css">
    <link rel="stylesheet" href="/static/css/autism/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
    <!-- skin -->
    <link rel="stylesheet" href="/static/css/autism/default.css" type="text/css">
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body>
<!--style="height: 4328px"-->

<section id="header" class="appear"></section>
<div class="navbar navbar-fixed-top skrollable skrollable-between" role="navigation"
     data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
     data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);"
     style="line-height: 100px; height: 100px; background-color: rgba(0, 0, 0, 0.298039);">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-bars color-white"></span>
            </button>
            <h1><a class="navbar-brand skrollable skrollable-between"
                   href="/schizophrenia" data-0="line-height:90px;"
                   data-300="line-height:50px;" style="line-height: 90px;">精神分裂症
            </a></h1>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav skrollable skrollable-between" data-0="margin-top:20px;"
                data-300="margin-top:5px;" style="margin-top: 20px;">
                <li><a href="/schizophrenia#testimonials">症状</a>
                </li>
                <li><a href="/schizophrenia#parallax1">预防与治疗</a>
                </li>
                <li class=""><a href="/">首页</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">
                <div class="align-center">
                    <i class="fa fa-stethoscope fa-5x mar-bot20"></i>
                    <h2 class="slogan">精神分裂症</h2>
                    <p>
                          精神分裂症是一种常见心里疾病，多发于青中年时期，常有知觉、思维、情感和行为等方面的障碍，并伴有持久的社会功能受损。精神分裂症的高致残率是直接导致患者及其家庭贫困的直接原因，甚至导致社会治安不稳定。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-lg-3">
                <div class="align-center">
                    <i class="fa fa-child fa-5x mar-bot20"></i>
                    <h4 class="text-bold">遗传因素</h4>
                    <p>
                        如果父母双方均患精神分裂症，其子女患病几率较高。
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="align-center">
                    <i class="fa fa-meh-o fa-5x mar-bot20"></i>
                    <h4 class="text-bold">个性因素</h4>
                    <p>
                        精神分裂症患者主要表现为孤僻、内向、怕羞、多疑敏感、思考问题缺乏逻辑性、想入非非等。
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="align-center">
                    <i class="fa fa-heart-o fa-5x mar-bot20"></i>
                    <h4 class="text-bold">心理因素</h4>
                    <p>
                        精神分裂症可在各种各样的精神因素的影响下诱发，诸如恋爱失败、婚姻破裂、学习及工作受挫等。精神因素对精神分裂症发病的作用同时也建立在个体心理承受能力的基础之上。
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="align-center">
                    <i class="fa fa-envira fa-5x mar-bot20"></i>
                    <h4 class="text-bold">社会环境因素</h4>
                    <p>
                        经济水平低、无职业的人群，精神分裂症的患病率明显高于经济水平高。生活环境的突变，孤独、内向的人格特征，不良紧张的家庭氛围，也会导致精神分裂。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonials" class="section" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h3 style="color: white; text-shadow: 2px 2px 2px #8a8a8a;">
                            社会影响和症状
                        </h3>
                        <p style="color: white; text-shadow: 2px 2px 2px #8a8a8a;"> <!-- text-shadow: black 0 1px 0 -->
                            精神分裂症患者容易出现言语杂乱无章、逻辑思维紊乱影响正常的社会关系活动。在精神分裂症患者情绪抑郁阶段，以及在药物控制阶段会产生强烈的痛苦，引发暴躁及其它不满情绪，会造成伤人或自伤等报复社会及厌世的负面心理状态，严重威胁社会安定。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="section-about" class="section appear clearfix">
    <div class="container">
        <!--<div class="row mar-bot40">-->
        <!--<div class="col-md-offset-3 col-md-6">-->
        <!--<div class="section-header">-->
        <!--<h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>-->
        <!--<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed-->
        <!--quia non numquam.</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="row align-center mar-bot40">
            <div class="col-md-4">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/schizophrenia/schizophrenia_symptom_1.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>早期症状</h4>
                        <span>① 间断性内容不固定的性格改变以及强迫性人格。   ② 表现为抑郁、恐惧、妄想性、突发兴奋、暴躁、恐惧不安、困惑迷茫等。</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/schizophrenia/schizophrenia_symptom_2.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>特征性症状</h4>
                        <span>① 精神活动与周围环境不协调。   ② 思维过程缺乏逻辑性。    ③ 思维活动在无外界因素影响的情况下突然中断或突然涌现大量的强制思维。 ④ 情感异常，无法与环境产生共鸣。病人对外界事物及与切身利益相关的事件缺乏内心体验。</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <figure class="member-photo"><img
                            src="/static/image/schizophrenia/schizophrenia_symptom_3.png" alt="">
                    </figure>
                    <div class="team-detail">
                        <h4>常见症状</h4>
                        <span>① 具有正常的语言功能却少有主动说话。   ② 模仿、重复言语。  ③ 频繁发出异常声音。 ④ 时常无故喊叫。</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">精神分裂症预防治疗</blockquote>
        </div>
    </div>
</section>


<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <nav id="filter" class="col-md-12 text-center">
                <ul>
                    <li><a href="/schizophrenia#"
                           class="current btn-theme btn-small" data-filter="*">预防与治疗</a></li>
                    <li><a href="/schizophrenia#"
                           class="btn-theme btn-small" data-filter=".reappear">预防与复发</a></li>
                    <li><a href="/schizophrenia#"
                           class="btn-theme btn-small" data-filter=".cure">治疗</a></li>
                </ul>
            </nav>
            <div class="col-md-12">
                <div class="row">
                    <div class="portfolio-items isotopeWrapper clearfix isotope" id="3"
                         style="position: relative; overflow: hidden; height: 915px;">

                        <article class="col-md-4 isotopeItem reappear isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_1-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与复发</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_1-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem reappear isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_2-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与复发</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_2-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <article class="col-md-4 isotopeItem reappear isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 0px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_3-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与复发</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_3-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem reappear isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_4-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与复发</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_4-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_5-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">预防与治疗</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_5-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 305px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_6-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_6-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_7-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_7-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(390px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_8-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_8-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <article class="col-md-4 isotopeItem cure isotope-item"
                                 style="position: absolute; left: 0px; top: 0px; transform: translate3d(780px, 610px, 0px);">
                            <div class="portfolio-item">
                                <img src="/static/image/schizophrenia/schizophrenia_treatment_9-min.png"
                                     alt="">
                                <div class="portfolio-desc align-center">
                                    <div class="folio-info">
                                        <h5><a href="#">治疗</a></h5>
                                        <a href="/static/image/schizophrenia/schizophrenia_treatment_9-min.png"
                                           class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5"
         style="background-position: 0% 0%;background-size: cover;">
    <div class="align-center pad-top40 pad-bot40">
        <blockquote class="bigquote color-white"></blockquote>
        <!--<p class="color-white">Bootstraptaste</p>-->
    </div>
</section>

<a href="/autism#header" class="scrollup" style="display: none;"><i
        class="fa fa-chevron-up"></i></a>

<script src="/static/js/autism/jquery.js"></script>
<script src="/static/js/autism/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="/static/js/autism/jquery.easing.1.3.js"></script>
<script src="/static/js/autism/bootstrap.min.js"></script>
<script src="/static/js/autism/jquery.isotope.min.js"></script>
<script src="/static/js/autism/jquery.nicescroll.min.js"></script>
<script src="/static/js/autism/jquery.fancybox.pack.js"></script>
<script src="/static/js/autism/skrollr.min.js"></script>
<script src="/static/js/autism/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/static/js/autism/jquery.localscroll-1.2.7-min.js"></script>
<script src="/static/js/autism/stellar.js"></script>
<script src="/static/js/autism/jquery.appear.js"></script>
<script src="/static/js/autism/validate.js"></script>
<script src="/static/js/autism/main.js"></script>

</body>
</html>